<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <%- include('./partials/header') %>

    <main>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Pass</th>
              </tr>
            </thead>
            <tbody>
                <% admins.forEach(admin => { %>
                    <tr>
                      <th scope="row"><%= admin.id %></th>
                      <td><%= admin.username %></td>
                      <td><%= admin.pass %></td>
                    </tr>
                    <a href="/admin/profile/<%= admin.id %>" class="btn btn-sm btn-primary">Ver mas</a>
                <% }) %>
                  </tbody>
          </table>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>