<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <%- include('./partials/header') %>

    <main class="container">
        <section class="row ">
          <% autos.forEach(auto=> { %>
            <article class="col-12 col-md-4 col-lg-3 ">
              <ul class="list-group list-group-flush my-3 ">
                <li class="list-group-item">
                  <h4>
                    <%= auto.modelo %> 
                  </h4>
                </li>
                <li class="list-group-item">
                  <h5>
                    <%= auto.marca %> 
                  </h5>
                </li>
                <li class="list-group-item">
                  <h6>
                    <%= auto.anio %> 
                  </h6>
                </li>
                <li class="list-group-item"><a href="" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= auto.id %> ">
                  </a></li>
                <li class="list-group-item">
                  <div class="m-2 d-flex justify-content-around">
                    <a href="/admin/autos/edit/<%= auto.id %> " class="btn btn-sm btn-success">Editar</a>
                    <form action="/admin/autos/delete/<%= auto.id %>?_method=DELETE" method="POST">
                      <button class="btn btn-sm btn-danger" type="submit">Eliminar</button>
                    </form>
                  </div>
                </li>
              </ul>
            </article>
            <% }) %>
        </section>
      </main>

        <%- include('./partials/footer') %>

</body>

</html>