<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    

    <main>
        <form action="" method="POST">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-4 mt-5">
                        <h2 class="my-3">Register</h2>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Nombre de Usuario" name="username" value="<%= (typeof old != 'undefined' && old.username) ? old.username : "" %>">
                            <label for="floatingInput">Username</label>
                            <span class="text-danger"><%= (typeof errores != 'undefined' && errores.username) ? errores.username.msg : "" %></span>
                          </div>
                          <div class="form-floating">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" name="pass">
                            <label for="floatingPassword">Password</label>
                            <span class="text-danger"><%= (typeof errores != 'undefined' && errores.pass) ? errores.pass.msg : "" %></span>
                          </div>
                          <button type="submit" class="btn btn-primary mt-3">Registrarme</button>
                          <p class="mt-3">¿Estás registrado? <a href="/admin/login">Iniciar sesión</a></p>
                          <div class="col-12">
                            <% if (typeof error != 'undefined') { %>
                              <div class="alert alert-danger mt-3">
                                <span><%= error %></span>
                              </div>
                            <% } %>
                          </div>

                    </div>
                </div>
            </div>
        </form>
    </main>

    <%- include('./partials/footer') %>

</body>
</html>